<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     <link rel="stylesheet" href="work.css">
  </head>
  <body>
       <div class="navbar">
      <img style="width:150px "
        src="https://daniloduchesnes.com/wp-content/uploads/2019/07/fonctionnalites-facebook.png"
        alt="facebook"
      ></img>
      <ul>
        <li>
          <Link to="/">Home page</Link>
        </li>
        <li>
          
          <Link to="/service">Our service</Link>
        </li>
        <li>
          
          <Link to="/contact">Contact us</Link>
        </li>
      </ul>
    </div>
    <h>welcome it work</h>
  </body>
</html>
